<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="purchasedetails"></span>

            <!-- purchase pack details -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Marvellous Infosystem</h3>
                </div>
                <div class="card-body">
                    <form class="form">
                        <!-- <div class="form-group">
                            <label for="uname1">Marvellous Member Name</label>
                            <input type="text" class="form-control rounded-0">
                        </div> -->
                        <style>
                            body {
                                font-family: Arial, sans-serif;
                                text-align: center;
                                margin: 10px;
                                background-color: #4CAF50;
                                /* Green background color */
                                color: #ffffff;
                                /* White text color for better contrast */
                            }
                        </style>

                        <body style="font-family: Arial, sans-serif; text-align: center; margin: 20px;">

                            <h1>😊 Thank You for Your Response 📬</h1>

                            <p>We appreciate your feedback and will get back to you shortly. Further details will be
                                shared via email. 📧</p>

                            <p>Thank you for reaching out! 🙌</p>

                        </body>


                    </form>
                </div>
                <!--/card-block-->
            </div>
            <!-- /form card login -->
        </div>
    </div>
</div>